@import '~normalize.css';
@import 'fonts.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~choices.js/public/assets/styles/choices.min.css';
@import '~nouislider/distribute/nouislider.css';

body {
    font-family: 'Roboto', sans-serif;
}

.image {
    background: url("../assets/panda.png");
    background-size: cover;
    height: 320px;
    width: 300px;
    margin: 0 auto;
}