@import '~normalize.css';
@import 'fonts.css';
@import "~bootstrap";
@import "~choices.js/public/assets/styles/choices.min.css";

body {
    font-family: 'Roboto', sans-serif;
}
/*.container {*/
/*    background-color: #a6b4a9;*/
/*    padding: 100px;*/
/*    max-width: 1000px;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/

.image {
    background: url("../assets/panda.png");
    background-size: cover;
    height: 320px;
    width: 300px;
    margin: 0 auto;
}